# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized
*.rb text
*.rake text
*.yml text
*.yaml text
*.md text
*.txt text
*.sh text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.gz binary
*.pdf binary

